$borderColor: #cacaca;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", Arial, sans-serif;
}
  
  .main,
  .scheduleBoard,
  .header,
  .calendar {
    width: 100%;
    min-width: 700px;
    text-align: initial;
  }
  
  .scheduleBoard {
    padding: 5px 10px;
  }
  
  .h_content,
  .c_content {
    width: 100%;
  }
  
  .h_content {
    div {
      display: inline-block;
    }
  
    .arrowButtons {
      width: 140px;
  
      button {
        color: #333;
        text-align: center;
        font-size: 1em !important;
        outline: none;
        border: none;
        box-shadow: 0 1px 2px #888;
        cursor: pointer;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
  
        &:hover {
          background-color: #e6e6e6;
        }
  
        &:active {
          box-shadow: 0 1px 2px #efefef;
        }
      }
  
      .arrow {
        button {
          width: 30px;
          height: 25px;
          font-weight: bold;
        }
      }
  
      .today {
        margin: 0 5px;
  
        button {
          width: 60px;
          height: 25px;
          font-size: 0.8em;
  
          &:disabled {
            color: #909090;
            border: none;
            background-color: #efefef;
            cursor: default;
          }
        }
      }
    }
  
    .period {
      width: calc(1.4em * 6);
      margin-left: calc(50% - 210px);
      color: #414141;
      text-align: center;
      font-size: 1.4em;
      font-weight: bold;
    }
  }
  
  .c_content {
    .weekDays {
      width: 100%;
  
      ul {
        width: 100%;
        padding-top: 10px;
        display: flex;
        list-style-type: none;
  
        li {
          flex: 1;
          padding: 3px 0;
          text-align: center;
          font-weight: bold;
          border: 1px solid $borderColor;
          border-bottom-width: 0;
          border-right-width: 0;
  
          &:last-of-type {
            border-right-width: 1px;
          }
        }
      }
    }
  
    .calendar-body {
      width: 100%;
  
      table {
        width: 100%;
        min-height: 400px;
        border-collapse: collapse;
      }
    }
  }
  
  .row {
    &:last-of-type {
      border-bottom: 1px solid $borderColor;
    }
  
    .day-off {
      background-color: #f5f5f5;
    }
  
    .cell {
      position: relative;
      width: calc(100% / 7);
      border: 1px solid $borderColor;
      border-bottom-width: 0;
      border-right-width: 0;
      vertical-align: top;
  
      &:last-of-type {
        border-right-width: 1px;
      }
  
      .cell-content {
        min-height: 23px;
      }
  
      .date {
        position: absolute;
        top: 0;
        right: 0;
        padding: 2px 5px;
        cursor: default;
        z-index: 10;
      }
  
      .day-of-the-surrounding-month {
        color: #a7a7a7;
      }
    }
  }
  
  .bookings {
    width: 100%;
    padding-top: 1.5em;
  
    .booking {
      width: 100%;
      margin: 2px 0;
      border-radius: 2px;
  
      &.isUnreal {
        visibility: hidden;
      }
  
      &:last-of-type {
        margin-bottom: 5px;
      }
  
      .booking-row {
        padding: 0 5px;
  
        .booking-name {
          color: #f5f5f5;
          font-size: 0.9em;
          vertical-align: top;
        }
      }
    }
  }